:root {
  --primary-dark: rgb(27, 27, 27);
  --secondary-dark: rgb(37, 37, 37);
  --border-dark: rgb(255, 255, 255, 0.199);
  --muted-dark: rgba(255, 255, 255, 0.391);
  --primary-color: #3282eb;
}

.dark {
  background-color: var(--primary-dark);
  color: white;
}

.dark .card {
  background-color: var(--secondary-dark);
  border-color: var(--border-dark);
}

.dark .list-group-item {
  background-color: var(--secondary-dark) !important;
  color: white;
  border-color: var(--border-dark);
}

.dark td {
  color: white;
}

.dark .btn {
  color: white !important;
}

.dark .text-muted {
  color: var(--muted-dark) !important;
}

.dark .btn-outline-primary {
  background-color: var(--primary-dark);
}

.dark .active {
  background-color: var(--primary-color) !important;
}
