* {
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
}

.game-content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  column-gap: 30px;
  width: 100%;
}

.game-content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
}

.nav-panel .btn {
  margin-right: 8px;
  min-width: 100px;
}

.main-panel {
}

.status-panel {
  min-width: 325px;
  max-width: 325px;
}

.status-group {
  margin: 10px 0;
}

.settings-group {
  margin-bottom: 15px;
}

.progress {
  background-color: rgb(12, 101, 173);
  position: relative;
  height: 30px;
  width: 250px;
  margin: 3px 0;
  cursor: pointer;
}

/* .progress-bar {
  background-color: rgb(29, 143, 236);
} */

.progress-bar-active {
  background-color: rgb(228, 168, 4) !important;
}

.progress-label {
  color: #ffffff;
  height: 100%;
  position: absolute;
  left: 5px;
  top: 16%;
}

.status-group-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

tbody tr:not(:last-child) {
  border-bottom: 0.5px solid rgb(143, 143, 143);
}

tbody tr {
  align-items: center;
}

h5 {
  margin-bottom: 2px;
}

.card {
  border-color: rgba(133, 133, 133, 0.425);
}

table button {
  width: 250px;
  margin: 3px 0;
}

td {
  vertical-align: middle;
}

#settings .card {
  margin-bottom: 20px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  color: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
}

.active {
  color: white !important;
}

tr th:first-child {
  width: 275px;
}

/*Colors*/
.danger {
  color: rgb(245, 50, 50);
}

.happiness {
  color: rgb(0, 132, 255);
}

.evil {
  color: rgb(209, 0, 0);
}

.time-warping {
  color: rgb(218, 25, 218);
}

.copper {
  color: rgb(179, 124, 73);
}

.silver {
  color: rgb(173, 173, 173);
}

.gold {
  color: rgb(236, 171, 30);
}

.platinum {
  color: rgb(80, 192, 207);
}
