.particle {
    position: absolute;
    display: block;
    background-color: white;
    pointer-events: none;
    animation: spin 600ms infinite linear, shoot0 800ms cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

.particle.size0 {
    width: 2px;
    height: 2px;
    animation-name: spin, shoot0;
}

.particle.size1 {
    width: 4px;
    height: 4px;
    animation-name: spin, shoot1;
}

.particle.size2 {
    width: 6px;
    height: 6px;
    animation-name: spin, shoot2;
}

.particle.size3 {
    width: 8px;
    height: 8px;
    animation-name: spin, shoot3;
}

@keyframes spin {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes shoot0 {
    from {
        translate: 0 0;
    }
    to {
        translate: 50px 0;
    }
}

@keyframes shoot1 {
    from {
        translate: 0 0;
    }
    to {
        translate: 35px 0;
    }
}

@keyframes shoot2 {
    from {
        translate: 0 0;
    }
    to {
        translate: 20px 0;
    }
}

@keyframes shoot3 {
    from {
        translate: 0 0;
    }
    to {
        translate: 12.5px 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.progress-fill {
    position: relative; /* Contain particles */
    overflow: hidden;
}

.progress-bar {
    position: relative; /* Contain particles */
}

.flash {
    position: absolute;
    background-color: currentColor;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: flash 400ms cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes flash {
    0% {
        box-shadow: 0 0 0 0 currentColor;
        opacity: 0.7;
    }

    to {
        box-shadow: 0 0 15px 15px currentColor;
        opacity: 0;
    }
}
