.w3-bar-item {
    width: 100px;
    height: 40px;
    text-align: center;
}

td {
    vertical-align: middle !important;
}

.current {
    background-color: orange !important;
    background: rgb(155, 100, 0);
}

.progress-text {
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 5px;
    color: white
}

.progress-bar {
    position: relative;
    background-color: rgb(12, 101, 173);
    cursor: pointer;
    width: 200px;
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.progress-fill {
    height: 30px;
    background-color: rgb(46, 148, 231);
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress-fill.current {
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar.current-pb {
    background: rgb(155, 100, 0);
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.hidden {
    display: none !important;
}

.hiddenTask {
    display: none !important;
}

.button {
    border: 1px solid black !important;
}

.item-button {
    background-color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.5),
            0 2px 2px rgba(0,0,0,0.2),
            0 0 4px 1px rgba(0,0,0,0.1);
}

.item-button:hover {
    cursor: pointer;
    background-color: #ddd;
}

button:focus {
    outline: none;
}

.scroll {
    overflow-y: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltipText {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    opacity: 0;
    transition: opacity 0.5s;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 0.8;
}

.sidebar-element {
    margin-bottom: 16px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.dark {
    background-color: #222;
    color: #ddd;
}


body.dark w3-light-gray{
    background-color: black !important;
}


body.dark div.w3-white {
    background-color: #333 !important;
}

body.dark button {
    background-color: #666;
    color: #ddd;
}

body.dark button:hover {
    background-color: #888;
}

.scroll {
    overflow: visible;
    height: auto;
}